body {
  text-align: center;
  font-family: Helvetica;
}

.header {
background-image: url("../images/sky.jpg")
}

.header h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.header a {
  font-size: 18px;
  list-style: none;
  color: white;
}

.main h2 {
  font-size: 32px;
  font-weight: bold;
}

.main h3 {
  font-size: 23px;
  font-weight: bold;
}

.main p {
  font-size: 14px;
}

#middle {
  color: white;
  font-weight: bold;
  font-size: 23px;
  background-image: url("../images/sky.jpg")
}
